﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts {
    <script src="~/Scripts/ContronllerScripts/Accounts.js"></script>
}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-4">
            <div class="col-lg-12">

                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Tên table <small>Chữ nhỏ</small></h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            @*<a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    <i class="fa fa-wrench"></i>
                                </a>*@
                            @*<ul class="dropdown-menu dropdown-user">
                                    <li>
                                        <a href="#">Config option 1</a>
                                    </li>
                                    <li>
                                        <a href="#">Config option 2</a>
                                    </li>
                                </ul>
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>*@
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="box-body">

                            <table id="tableAccounts"
                                   data-toggle="table"
                                   data-classes="table table-bordered table-hover reponsive"
                                   data-unique-id="ID"
                                   data-mobile-responsive="true"
                                   @*data-search="true"*@
                                   @*data-show-columns="true"*@
                                   data-fixed-columns="true"
                                   data-show-export="true"
                                   data-toolbar="#toolbarProduct"
                                   data-pagination="true"
                                   @*data-page-size="2"*@
                                   data-page-list="[10, 25, 50, 100, ALL]">
                                <thead class="">
                                    <tr class="trTable">
                                        @*<th data-field="STATE" data-checkbox="true"></th>*@
                                        @*<th data-field="Id" data-sortable="true" data-formatter="operateFormatter_Detail_Product">ID</th>*@
                                        <th data-field="Id" data-sortable="true">ID</th>
                                        <th data-field="Email" data-sortable='true'><strong> Email</strong></th>
                                        <th data-field="UserName" data-sortable='true'><strong>Tài khoản</strong></th>
                                        @* <th data-switchable="false" data-align="center" width="10%" data-formatter="operateFormatter" data-visible='true' data-events="operateEvents"></th>*@

                                    </tr>
                                </thead>

                            </table>
                        </div>
                    </div>
                </div>



            </div>
        </div>
        <div class="col-lg-8">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Tên table <small>Chữ nhỏ</small></h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            @*<ul class="dropdown-menu dropdown-user">
                                    <li>
                                        <a href="#">Config option 1</a>
                                    </li>
                                    <li>
                                        <a href="#">Config option 2</a>
                                    </li>
                                </ul>
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>*@
                        </div>
                    </div>
                    <div class="ibox-content">
                        <form method="get" class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Normal</label>
                                <div class="col-sm-10"><input type="text" class="form-control"></div>
                            </div>
                            <div class="hr-line-dashed"></div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

