﻿
@{
    Layout = null;
}

@model MVCTemplate.Models.LoginViewModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng nhập</title>
    <link href="~/InspiniaMaster/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/InspiniaMaster/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="~/InspiniaMaster/css/animate.css" rel="stylesheet">
    <link href="~/InspiniaMaster/css/style.css" rel="stylesheet">
</head>
<body class="gray-bg">
    <div class="middle-box text-center loginscreen animated fadeInDown" style="position:relative;width:100% !important; height:100%;max-width:auto;padding:0;">
        <div>
            @*<form style="position:absolute;left:50%;top:50%;transform:translate(-50%,-50%);width:300px;"*@
            @using (Html.BeginForm("Login", "Accounts", new { ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal",style = "position:absolute;left:50%;top:50%;transform:translate(-50%,-50%);width:300px;", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group has-feedback">
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", autofocus = "autofocus", placeholder = "Tài khoản" })
                    @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Mật khẩu" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <button type="submit" style="max-width:100px;margin:0 auto" class="btn btn-primary block full-width m-b">Login</button>

            }
            @*<form class="m-t" role="form" action="index.html">
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Username" required="">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password" required="">
                </div>
                <button type="submit" class="btn btn-primary block full-width m-b">Login</button>
                <a href="#"><small>Forgot password?</small></a>
                <p class="text-muted text-center"><small>Do not have an account?</small></p>
                <a class="btn btn-sm btn-white btn-block" href="#">Create an account</a>
            </form>*@

        </div>
    </div>
    <!-- Mainly scripts -->
    <script src="~/InspiniaMaster/js/jquery-3.1.1.min.js"></script>
    <script src="~/InspiniaMaster/js/bootstrap.min.js"></script>
</body>
</html>
