﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>X-Soft Solutions</title>

    <link href="~/InspiniaMaster/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/InspiniaMaster/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="~/InspiniaMaster/css/animate.css" rel="stylesheet">
    <link href="~/InspiniaMaster/css/style.css" rel="stylesheet">
    <link href="~/Scripts/Plugin/bootstrap-table.css" rel="stylesheet" />
</head>
<body class="top-navigation">
    <div id="wrapper">
        <div id="page-wrapper" class="gray-bg">
            @*Header*@
            @RenderPage("~/Views/Shared/_PartialMenu.cshtml")


            @*Body*@



            <div class="row">
                @RenderBody()
            </div>




            @*<div class="wrapper wrapper-content">
                    <div class="container">
                        <div class="row">
                            @RenderBody()
                        </div>

                    </div>
                </div>*@

            @*Footer*@
            <div class="footer">
                <div class="pull-right">
                    <strong>X-Soft Solutions</strong>.
                </div>
                <div>
                    <strong>Copyright</strong>  &copy; 2018
                </div>
            </div>
        </div>
    </div>

    <!-- Mainly scripts -->
    <script src="~/InspiniaMaster/js/jquery-3.1.1.min.js"></script>
    <script src="~/InspiniaMaster/js/bootstrap.min.js"></script>
    <script src="~/InspiniaMaster/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="~/InspiniaMaster/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <!-- Custom and plugin javascript -->
    <script src="~/InspiniaMaster/js/inspinia.js"></script>
    <script src="~/InspiniaMaster/js/plugins/pace/pace.min.js"></script>
    <!-- Flot -->
    <script src="~/InspiniaMaster/js/plugins/flot/jquery.flot.js"></script>
    <script src="~/InspiniaMaster/js/plugins/flot/jquery.flot.tooltip.min.js"></script>
    <script src="~/InspiniaMaster/js/plugins/flot/jquery.flot.resize.js"></script>
    <!-- ChartJS-->
    <script src="~/InspiniaMaster/js/plugins/chartJs/Chart.min.js"></script>
    <!-- Peity -->
    <script src="~/InspiniaMaster/js/plugins/peity/jquery.peity.min.js"></script>
    <!-- Peity demo -->
    <script src="~/InspiniaMaster/js/demo/peity-demo.js"></script>
    <script src="~/Scripts/Plugin/bootstrap-table.js"></script>
    @RenderSection("Scripts", false)
    <script>
        $(function () {
            $('#btn_LogOut').off('click').on('click', function () {


                $.ajax({
                    cache: false,
                    type: "POST",
                    url: "/Accounts/LogOff",
                    success: function (data) {
                        if (data === 1) {
                            window.location.href = '/Accounts/Login';
                        }
                    },
                    error: function () {
                        bootbox.alert('Có lỗi khi đăng xuất');

                    }
                });

            });


        });
    </script>


</body>
</html>
